* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  background-color: rgba(44, 41, 41, 0.4);
  color: white;
}

.navbar a {
  padding: 5px 30px 5px 30px;
}

.location {
  background-color: white;
}

.locationInfo {
  margin: 20px;
  background-color: rgb(14, 122, 81);
  color: white;
  border-radius: 10px;
}

#Liebe {
  color: red;
}

.hero {
  background: url(/Assets/Images/beach-191.jpg) center center/cover no-repeat;
  height: 1000px;
  width: auto;
}

.hero h1 {
  color: white;
  padding-top: 450px;
  text-shadow: #0e0f0f 2px 2px;

}
.location-carousel {
  margin: 20px;
}
.location-carousel img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;

}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;
}

body {
  background: white;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;
}

.mapContainer  {
  margin: 20px;
  background-color: rgb(14, 122, 81);
  color: white;
  border-radius: 10px;
  text-decoration: none;
}

.newsletter {
  background-color: rgb(14, 122, 81);
  color: white;
  border-radius: 10px;
  margin: 20px;
}

.playList {
  background-color: rgb(14, 122, 81);
  color: white;
  border-radius: 10px;
  margin: 20px;
}

.spotify {

  border-radius: 10px;
  margin: 20px;
  width: 95%;
 
}

.contactbar {
  background-color: rgba(44, 41, 41, 0.4);
  color: white;
}

.contactbar a {
  padding: 5px 30px 5px 30px;
  display: inline-block;
}


input {
  background-color: #f7f7f7;

}

.wrapper {
  padding-top: 20px;

}

.regContainer {
  display: block;
  margin: 40px auto;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 60vw;


}

.card-contents {
  padding: 5px 5px 30px 5px;
}

#name,
#email,
#plus1,
#submit {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 20px;
  box-sizing: border-box;
  font-size: 18px;
}

#response {
  padding-bottom: 30px;
  color: white;
  text-shadow: #0e0f0f 2px 2px;
}

.beach {
  background-image: url('https://busites-www.s3.amazonaws.com/blog-margaritaville/2018/07/beach-scene.jpg');
  background-size: fill;
  background-size: center;

}